.app {
  text-align: right;
  font-size: larger;
  background-color: #3584fc;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: ri; */
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}
